{% extends 'layout.twig' %}

{% block body %}

<div>
  <h1 style="color:blue">Temparature forecast</h1>
  <h1>{{title}}</h1>
  <p>Enter dhaka/khulna/bagerhat/rangpur/rajshahi after url to see temparature.</p>
  <p>e.g.: localhost:3000/khulna</p>
</div>
  
{% endblock %}
