{% extends 'layout.twig' %}

{% block body %}

  <div>
    <h1 style="color:blue">{{name}}</h1>
    <h5>temparature of {{name}} today</h5>
    <p>High {{high}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Low {{low}}</p> 
  </div>
  

{% endblock %}
